<!-- third -->
<template name="third">

<form class="step3">
  <label for="Aprod">Annual production volume: </label>
  <input type="text" id="Aprod">
      
    <br>
  
  <label for="MatchedSurface">Matched Surface: </label>
  <input type="checkbox" name="MS" value="Y" > Yes
      
    <br>
  
  <label>Embedded Inserts: </label>
  <input type="checkbox" name="EI" value="Y" > Yes
    
    <br>
  
  <label >CoCuring: </label>
  <input type="checkbox" name="CC" value="Y" > Yes
  <input type="submit">
</form>

</template>