<!-- third -->
<template name="third">

<form class="step16">
 <label for="Aprod">Annual production volume: </label>
 <input type="text" id="Aprod">
 <input type="submit">
</form>

<form class="step17">
 <label for="MatchedSurface">Matched Surface: </label>
  <input type="checkbox" name="MS" value="Y" > Yes
  <input type="submit">
</form>

<form class="step18">
  <label>Embedded Inserts: </label>
  <input type="checkbox" name="EI" value="Y" > Yes
  <input type="submit">
</form>

<form class="step19">
  <label >CoCuring: </label>
  <input type="checkbox" name="CC" value="Y" > Yes
  <input type="submit">
</form>

<form class="step20a">
  <label >Suitable for beading: </label>
  <input type="checkbox" name="Sbeading" value="Y" > Yes
  <input type="submit">
</form>

<form class="step20b">
  <label >Suitable for blades: </label>
  <input type="checkbox" name="Sblades" value="Y" > Yes
  <input type="submit">
</form>

<form class="step20c">
  <label >Suitable for hats: </label>
  <input type="checkbox" name="Shats" value="Y" > Yes
  <input type="submit">
</form>

<form class="step20d">
  <label >Suitable for foam: </label>
  <input type="checkbox" name="Sfoam" value="Y" > Yes
  <input type="submit">
  </form>
<form class="step20e">
  <label >suitable for honeycomb: </label>
  <input type="checkbox" name="Shoneycomb" value="Y" > Yes
  <input type="submit">
</form>
</template>