<!-- fourth -->

<template name="fourth">
<form class="step4">
<label> Suitable for</label>
  <br>
  
  <paper-toggle-button></paper-toggle-button>
  <label >beading: </label>
  <!-- <input type="checkbox" name="Sbeading" value="Y" > Yes -->
    
    <br>
  

  <paper-toggle-button></paper-toggle-button>
  <label >blades: </label>
  <!-- <input type="checkbox" name="Sblades" value="Y" > Yes -->
    
    <br>
  

  <paper-toggle-button></paper-toggle-button>
  <label >hats: </label>
  <!-- <input type="checkbox" name="Shats" value="Y" > Yes -->
    
    <br>
  

  <paper-toggle-button></paper-toggle-button>
  <label >foam: </label>
  <!-- <input type="checkbox" name="Sfoam" value="Y" > Yes -->
    
    <br>
  

  <paper-toggle-button></paper-toggle-button>
  <label >honeycomb: </label>
  <!-- <input type="checkbox" name="Shoneycomb" value="Y" > Yes -->
      
    <br>
  
  <input type="submit">
</form>
</template>