<!-- second -->

<template name="second">
<form class="step2">
  <label>Stressing Precision</label>
  <input type="checkbox" value="1"> V - Suited to precisely defined loading
  <input type="checkbox" value="2"> L - Suited to general uncertain loading
  <input type="checkbox" value="3"> M - Suited to either
  <input type="checkbox" value="4"> H - Suited to either


    <br>

 <label for="TensileStiffness">Tensile Stiffness above(GPA): </label>
 <input type="text" id="TensileStiffness">

    <br>

  <label for="TensileStrength">Tensile Strength above(MPA): </label>
  <input type="text" id="TensileStrength">

    <br>

  <label>Ply Angle:</label>
  <input type="checkbox" value="1">Low
  <input type="checkbox" value="2">Medium
  <input type="checkbox" value="3">High

    <br>

  <label>Thickness Tailoring:</label>
  <input type="checkbox" value="1">Constant thickness
  <input type="checkbox" value="2">Low (0.5mm)
  <input type="checkbox" value="3">Medium (0.25mm)
  <input type="checkbox" value="4">High (0.125mm)
  <input type="submit">
</form>
</template>
