<template name="index">

 <header id="logged-header">
     <div class="drop-down-menu">
        <label for="menu-id"><i class="fa fa-bars"></i> PROSEL</label>
        <input type="checkbox" class="menu-checkbox" id="menu-id">
        <ul class="drop-menu-content">
          <div id="username"> Jon Snow</div>
          <div id="useremail">mail@gmail.com</div>
          <li><i class="fa fa-cubes"></i><div class="pers-menu-item">Dashboard</div></li>
          <li><i class="fa fa-user"></i><div class="pers-menu-item">Profile</div></li>
          <li><i class="fa fa-medkit"></i><div class="pers-menu-item">Help</div></li>
          <li><i class="fa fa-info"></i><div class="pers-menu-item">About</div></li>
          <li><i class="fa fa-sign-out"></i><div class="pers-menu-item">Log out</div></li>
        </ul>
      </div>
   <!--{{> navbarSearch }}-->
   {{> sectionsNavigation }}
  </header>

  <div class="main-container">
      <div id="selection-page"><div class="selection-page-inner"><!--{{>selectionRouter}}-->   {{> third}} </div></div>
      <div id="materials-list"><div class="materials-list-inner"><!--{{>materials}}--> {{>materials}} </div></div>
  </div>
</template>

<template name="materials">
  <div class="material-list">
    <div class="materials-list-title">Materials list</div>
    <div class="suitable">
      <div class="materials-section-title" id="toggle-suitable">Panel heading 1</div>
       <ul class="{{#if showSuitable}} {{else}} materialsVisible {{/if}}">
        <li>Super material 1</li>
        <li>Super material 2</li>
        <li>Super material 3</li>
        <li>Super material 4</li>
        <li>Super material 5</li>
        <li>Super material 1</li>
        <li>Super material 2</li>
        <li>Super material 3</li>
        <li>Super material 4</li>
        <li>Super material 5</li>
      </ul>
    </div>
    <div class="rejected">
      <div class="materials-section-title" id="toggle-rejected">Panel heading 2</div>
      <ul class="{{#if showRejected}} {{else}} materialsVisible {{/if}}">
        <li>Bad material 1</li>
        <li>Bad material 2</li>
        <li>Bad material 3</li>
        <li>Bad material 4</li>
        <li>Bad material 5</li>
        <li>Bad material 1</li>
        <li>Bad material 2</li>
        <li>Bad material 3</li>
        <li>Bad material 4</li>
        <li>Bad material 5</li>
      </ul>
    </div>
  </div>
</template>

<template name="sectionsNavigation">
  <ul id="selection-menu-list">
    <li id="step-1-item">Step 1</li>
    <li id="step-2-item">Step 2</li>
    <li id="step-3-item">Step 3</li>
    <li id="step-4-item">Step 4</li>
  </ul>
</template>

<template name="navbarSearch">
  <div class="search-section-wrapper">
    <div class="search-section">
      <i class="fa fa-search"></i><input type="text" class="search-input" placeholder="Search">
    </div>
  </div>
</template>
