<template name="menu">
   <div class="drop-down-menu">
      <label for="menu-id"><i class="fa fa-bars"></i> PROSEL</label>
      <input type="checkbox" class="menu-checkbox" id="menu-id">
      <ul class="drop-menu-content">
        <div id="username"> Jon Snow</div>
        <div id="useremail">mail@gmail.com</div>
        <li><i class="fa fa-cubes"></i><div class="pers-menu-item">Dashboard</div></li>
        <li><i class="fa fa-user"></i><div class="pers-menu-item">Profile</div></li>
        <li><i class="fa fa-medkit"></i><div class="pers-menu-item">Help</div></li>
        <li><i class="fa fa-info"></i><div class="pers-menu-item">About</div></li>
        <li><i class="fa fa-sign-out"></i><div class="pers-menu-item">Log out</div></li>
      </ul>
    </div>
</template>