<template name="wzornik">
  <nav class="navbar navbar-default logged-navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a href="#menu-toggle" class="color-black" id="menu-toggle"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </nav>
  
    <div class="row-fluid">
      <div class="col-md-2" id="personal-information">
        <div id="username"> Jon Snow</div>
        <div id="useremail">mail@gmail.com</div>
        <ul>
          <li><i class="fa fa-cubes"></i>Dashboard</li>
          <li><i class="fa fa-user"></i>Profile</li>
          <li><i class="fa fa-sign-out"></i>Log out</li>
        </ul>
      </div>
      <div class="col-md-8" id="basic-container">
        <paper-material elevation="1" class="material-page selection-content">
          <div class="col-md-6 selection-left-side">
            <div class="section-navigation row-fluid">
              <div class="selectiontabpicker">
                <input type="radio" name="chosentab" id="part-function" value="first" checked/>
                <label class="dropdown-content" for="part-function">Part function</label>
              </div>

              <div class="selectiontabpicker">
                <input type="radio" name="chosentab" id="weight-saving" value="second"/>
                <label class="dropdown-content" for="weight-saving">Weight saving</label>
              </div>
              <div class="selectiontabpicker">
                <input type="radio" name="chosentab" id="structural-approach" value="third"/>
                <label class="dropdown-content" for="structural-approach">Structural approach</label>
              </div>
              <div class="selectiontabpicker">
                <input type="radio" name="chosentab" id="cost-comparison" value="fourth"/>
                <label class="dropdown-content" for="cost-comparison">Cost comparison</label>
              </div>
            </div>
            <br>
            <div class="main-selection-section">
              {{>selectionRouter}}
            </div>
          </div>

        </paper-material>
      </div>
      <div class="col-md-2" id="help-container-new">
        <paper-material elevation="1" class="material-page help-content">
          <div class="help-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
          </div>
        </paper-material>
      </div>
    </div>
</template>